---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: false
NamespaceIndentation: None
FixNamespaceComments: true
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakTemplateDeclarations: Yes
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
MaxEmptyLinesToKeep: 1
